@font-face{
    font-family:"Arial Black";
    src:url('font/ArialBx.ttf')
}
@font-face{
    font-family: STHT;
    src:url('font/STx.ttf')
}
html {
    font-size: 20px;
}
/* 1.1 0.8 1.4 1 0.7 0.4 0.1 0.6 0.35 1.2  */

body, ul, ol, li, p, h1, h2, h3, h4, h5, h6, form, fieldset, table, td, img, div {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background: #fff;
    color: #363636;
}

ul, ol {
    list-style-type: none;
}

select, input, img, select {
    vertical-align: middle;
}

a {
    text-decoration: none;
}

a:link {
    color: #363636;
}

a:visited {
    color: #363636;
}

a:hover, a:active, a:focus {
}

#z_i{
    z-index: 10000;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    background-image: url("img/bg/time.gif") ;
    background-repeat: no-repeat;
    background-size: 4%;
    background-position: center 10vh;
    transition-property: background-size;
    transition-duration: 150ms;
    transition-timing-function: ease-in-out;
}

.section-banner {
    background-color: #f6f6f6;
    width: 100%;
    height: 76vh;
    text-align: center;
    position: relative;
    transition-property: height;
    transition-duration: .5s;
}

.vw {
    width: 72%;
}

.banner-inner {
    opacity: 0;
    position: absolute;
    left: 50%;
    margin-left: -38%;
    transition-property:opacity,margin-top;
    transition-duration: .8s;
}

.nav {
    width: 100%;
    background-color: #f6f6f6;
    z-index: 99999;
    box-shadow: 0 0 20px #ddd;
}

.fixed {
    position: fixed;
    top: 0;
}

.font_box {
    /*width: 50%;*/
    margin: 0 auto;
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
}

.section-banner h1 {
    display: inline-block;
    font-family: "Arial Black";
    font-size: 1.4rem;
    padding-bottom: 26px;
}

.section-banner span {
    font-family:"华文细黑", STHT;
    font-size: 0.7rem;
    color: #aaa;
}

.section-banner .font-fh {
    color: #eee;
}


.nav_inner {
    font-family:"华文细黑", STHT;
    margin: 0 auto;
    padding: 0.8rem 0;
    transition: padding .4s

}

.nav_inner > a {
    display: inline-block;
    opacity: 0;
    font-size: 0.7rem;
    color: #a0a0a0;
    padding: 0.4rem 0;
    border-bottom: #eaeaea 0.1rem solid;
    border-top: #eaeaea 0.1rem solid;
    pointer-events: none;
    transition-property:opacity,color;
    transition-duration: .5s;
    background: url(./img/bg/nav2-1.png) no-repeat -9999px -9999px;
}

.nav_inner > a:hover{
    color: #363636;
}

.nav_inner ul {
    display: inline-block;
    float: right;
    font-size: 0.6rem;
    padding: 0.35rem 0;
    position: relative;
}

.nav_inner ul li {
    margin-left: 20px;
    float: right;
    height: 1rem;
}

.nav_inner ul li a {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    pointer-events: none;
    opacity: 0;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    transition-property:opacity,background-image;
    transition-duration:.5s;;
}
.QR{
    display: none;
    width: 7rem;
    height: 7rem;
    border-radius: 0.5rem;
    background-image: url(./img/bg/WeChatQR.png);
    position: absolute;
    top: 2.2rem;
    left: 0;
    box-shadow: 0 0 10px #aaa;
    background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    transition-property: opacity;
    transition-duration: .2s;
}
.icon-wy {
    background-image: url(./img/bg/nav1.png);
}

.icon-wx {
    background-image: url(./img/bg/nav2.png);
}

.icon-fb {
    background-image: url(./img/bg/nav3.png);
}

.icon-wb {
    background-image: url(./img/bg/nav4.png);
}

.icon-wy:hover {
    background-image: url(./img/bg/nav1-1.png);
}

.icon-wx:hover {
    background-image: url(./img/bg/nav2-1.png);
}

.icon-fb:hover {
    background-image: url(./img/bg/nav3-1.png);
}

.icon-wb:hover {
    background-image: url(./img/bg/nav4-1.png);
}


.dis_none {
    display: none;
}

.dis_inline-block {
    display: inline-block;
}

.box_100 {
    width: 100%;
    font-family:"华文细黑", STHT;
}

.box_100 .app_content {
    margin: 0 auto;
}

.section-introduction img {
    margin-top: 200px;
    margin-bottom: 4rem;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    box-shadow: 0 0 10px #eee;
}

.section-introduction p {
    font-size: 0.8rem;
    line-height: 1.1rem;
    margin-bottom: 1.1rem;
}

.section-introduction i {
    font-style: normal;
    font-size: 0.6rem;
    color: #888;
}
.br_b,.br_a{
    display: none;
}
hr {
    height: 1px;
    margin: 5rem 0 0;
    background-color: #f0f0f0;
    border: none
}

.section-works {
    opacity: 1;
}

.section-works hr {
    margin-top: 30px;
}

.section-works h2 {
    font-size: 1.2rem;
    font-weight: normal;
    margin: 6rem 0 3rem;
}

.section-works h2 span {
    color: #CCC;
}

.flex-one {
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.list_works {
    width: 32.5%;
    overflow: hidden;
    background-color: #f6f6f6;
    transition-property: box-shadow;
    transition-duration: .2s;
}
.list_works:hover{
    box-shadow: 0 2px 12px #ddd;
}
.list_works a{
    display: inline-block;
    width: 100%;
    background-image: url("img/bg/time.gif");
    background-repeat: no-repeat;
    background-size: 16%;
    background-position: center center;
}
.list_works img {
    width: 100%;
    vertical-align: top;
    transition: transform .5s;
}

.list_works:hover img{
    cursor: pointer;
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
}

.section-bottom {
    margin: 4.5rem 0;
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    font-size: 0.7rem;
    background: url(./img/bg/WeChatQR.png) no-repeat -9999px -9999px;
}

.section-banner h1 i{
    display: none;
}

#view_layer{
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: -.5rem;
    left: 0;
    background: rgba(0,0,0,.8);
    z-index: 999994;
    overflow: auto;
    padding-top: 1rem;
    font-family: "lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}

.view_t{
    width: 58%;
    height: 3rem;
    background-color: #fff;
    margin: 0 auto;
    border-radius: .4rem;
    opacity: 0;
    transition-property: opacity;
    transition-duration: .2s;
}
.view_t p{
    display: inline-block;
    line-height: 3rem;
    font-size: .9rem;
    font-weight: 200;
    padding-left: 1rem;

}
.view_t div{
    display: inline-block;
    padding-right: 1rem;
    float: right;
    margin-top: .8rem;
}
.view_t div span{
    font-size: .7rem;
    font-weight: 400;
    padding: .15rem .75rem;
    border-radius: 1rem;
    color: #fff;
    background-color: #2f8c92;
}
.view_m{
    display: none;
    width: 58%;
    background-color: #fff;
    margin: .75rem auto 2.5rem;
    border-radius: .4rem;
    opacity: 0;
    transition-property: opacity;
    transition-duration: .2s;
    /*transition-delay: 1000ms*/
}
.view_m img{
    width: 100%;
    border-radius: .4rem;
}
.view_b{
    display: none;
    width: 58%;
    text-align: center;
    margin: 0 auto;
    padding: 2.5rem 0 1rem;
    opacity: .7;
    color: #fff;
    font-size: .6rem;
}


@media screen and (max-width: 1280px) {
    /*html {*/
    /*    font-size: 18px;*/
    /*}*/
    .vw{
        width: 78%;
    }
    .view_t,.view_m,.view_b{
        width: 62%;
    }
}

@media screen and (max-width: 1110px) {

    html {
        font-size: 18px;
    }
    .vw{
        width: 80%;
    }
    .banner-inner {
        margin-left: -40%;
    }
    .view_t,.view_m,.view_b{
        width: 64%;
    }
}
@media screen and (max-width: 980px) {

    html {
        font-size: 16px;
    }
}
@media screen and (max-width: 910px) {
    .vw{
        width: 90%;
    }
    .banner-inner {
        margin-left: -45%;
    }
    .view_t,.view_m,.view_b{
        width: 66%;
    }
}
@media screen and (max-width: 808px) {
    .vw{
        width: 96%;
    }
    .banner-inner {
        margin-left: -48%;
    }
    .view_t,.view_m,.view_b{
        width: 72%;
    }

    .icon-wx:hover {
        background-image: url(./img/bg/nav2.png);
    }

    .icon-wy:hover {
        background-image: url(./img/bg/nav1.png);
    }

    .icon-wb:hover {
        background-image: url(./img/bg/nav4.png);
    }
}

@media screen and (max-width: 756px) {
    html{
        font-size: 18px;
    }
    .vw{
        width: 92%;
    }
    .banner-inner {
        margin-left: -46%;
    }
    .br_b{
        display: inline-block;
    }
    .list_works {
        width: 100%;
        margin-bottom: .5rem;
    }
    .flex-one{
        flex-direction:column;
    }
    .view_t,.view_m,.view_b{
        width: 92%;
    }
}
@media screen and (max-width: 500px) {
    /*html{*/
    /*    font-size: 20px;*/
    /*}*/
    .br_b{
        display: none;
    }
    .br_a{
        display: inline-block;
    }
    .section-introduction img{
        margin-bottom: 3rem;
    }
    .section-introduction{
        text-align: center;
    }
    .section-introduction p{
        line-height: 1.3rem;
    }
    .section-banner h1{
        padding-bottom: 42px;
    }
    .section-banner h1 i{
        font-style: normal;
        display: inline-block;
    }
    .section-bottom{
        flex-direction:column;
        text-align: center;
        line-height: 1rem;
    }
    .section-bottom span{
        padding-top: 1rem;
    }


    .font_box{
        font-size: 12px;
    }

    .section-works h2 {
        margin: 5rem 0 2.5rem;
    }
    #z_i{
        background-image: url("img/bg/time.gif") ;
        background-repeat: no-repeat;
        background-size: 16%;
        background-position: center 22vh;
    }
    #view_layer{
        padding-top: 5rem;
        background: rgba(0,0,0,.85);
    }
    .view_b{
        position: absolute;
        bottom: 10px;
        margin-left: 4%;
    }

}
